<footer class="footer">
    <div class="columns">
        <div class="column has-text-centered-mobile is-two-fifths-desktop is-half is-full-mobile">
            <h3 class="signature">© {{today}} {{personalData.name}} {{personalData.surname}}</h3>
        </div>
        <div class="columns is-vcentered is-hidden-mobile">
            <div class="column">
                <span class="icon" matTooltip="Follow me on Github" matTooltipPosition="before">
                    <i class="fa fa-3x fa-github-square"></i>
                </span>
            </div>
            <div class="column">
                <span class="icon" matTooltip="Connect with me on Linkedin" matTooltipPosition="above">
                    <i class="fa fa-3x fa-linkedin-square"></i>
                </span>
            </div>
            <div class="column">
                <span class="icon" matTooltip="Follow me on Twitter">
                    <i class="fa fa-3x fa-twitter-square"></i>
                </span>
            </div>
            <div class="column">
                <span class="icon" matTooltip="Follow me on Facebook" matTooltipPosition="after">
                    <i class="fa fa-3x fa-facebook-square"></i>
                </span>
            </div>
        </div>
    </div>
</footer>
