<!--<div class="my-container columns is-centered is-vcentered">
    <div class="column has-text-centered is-half">
        <p class="is-size-5-desktop is-size-6-mobile">
            <strong class="underline is-size-4">I'm a Full Stack Java</strong>
            I'm Interested in developing large scalable enterprise web/mobile application.
            Using Java, Kotlin, Springboot, Angular, Ionic, Reactjs, and React native.
            <span class="underline">I completed honors degree in computer sciences.</span>
            I want to work on the hard stuff.
            I am able to collaborate with teams and start delivering quickly.
        </p>
    </div>
</div>-->

<div class="columns about">
    <div class="column column-1 is-4-desktop is-6-mobile"></div>
    <div class="card-1">
        <div class="card-content-1">
            <div class="avatar"></div>
            <div class="title">Dimakatso Bopape</div>
            <div class="position">Full Stack Java Developer</div>
            <a><i class="fa fa-phone"></i> 073 091 4101</a>
            <a [cdkCopyToClipboard]="email"
               matTooltip="Click to copy email"
               matTooltipPosition="right">
                <i class="fa fa-envelope"></i> Dimakzela@gmail.com</a>
        </div>
        <div class="columns is-vertical is-centered is-mobile">
            <a class="column is-offset-1 footer-icon fa fa-2x fa-linkedin"> </a>
            <a class="column footer-icon fa fa-2x fa-github"> </a>
            <a class="column footer-icon fa fa-2x fa-facebook"> </a>
            <a class="column footer-icon fa fa-2x fa-twitter"> </a>
        </div>
    </div>
    <div class="column column-2 is-hidden-mobile">
        <article class="is-size-4">
            I'm Interested in developing large scalable enterprise web/mobile application.
            I have experience with <code>Java, Kotlin, Spring-boot, Angular, Ionic, Reactjs, and React-native</code>.
            I want to work on the hard stuff. I am able to join a team and start delivering quickly.
        </article>
    </div>
</div>
