<div class="my-container columns is-centered is-vcentered">
    <div class="column has-text-centered is-half">
        <p class="is-size-5-desktop is-size-6-mobile">
            <strong class="underline is-size-4">I'm a Full Stack Java</strong>
            I'm Interested in developing large scalable enterprise web/mobile application.
            Using Java, Kotlin, Springboot, Angular, Ionic, Reactjs, and React native.
            <span class="underline">I completed honors degree in computer sciences.</span>
            I want to work on the hard stuff.
            I am able to collaborate with teams and start delivering quickly.
        </p>
    </div>
</div>
