.avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url("../../assets/playstore.png");
    background-size: contain;
    margin-right: 20px;
}

.active-link {
    text-decoration-line: underline;
    color: #3273dc;
    background-color: transparent;
}

.navbar {
    background-color: #f1f0f0;
    padding: 20px;
}

