<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://dimakatsobopape.com">
            <i class="fa fa-2x fa-code is-hidden-mobile"></i>
            <div class="title">&nbsp;Dimakatso Bopape</div>
        </a>
        <div (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger"
             aria-label="menu" aria-expanded="false"
             data-target="navbarBasicExample" id="navbar-burger-id">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu" #navMenu>
        <div class="navbar-end">
            <a class="navbar-item" [routerLink]="['/about']" routerLinkActive="active-link">
                About me
            </a>

            <a class="navbar-item" [routerLink]="['/projects']" routerLinkActive="active-link">
                Projects
            </a>

            <a class="navbar-item" [routerLink]="['/articles']" routerLinkActive="active-link">
                Articles
            </a>
        </div>
    </div>
</nav>
