/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.column-1, .column-2 {
    height: 850px;
}

.column-1 {
    padding-bottom: 40px;
    background-color: #ffedc1;
}

.column-2 {
    padding-bottom: 40px;
    background-color: #f5f1f1;
}
