<div class="column-2 is-mobile is-multiline is-vcentered is-centered">
    <div class="resume">
        <div>
            <button class="button fa fa-download is-rounded is-primary"> Download CV</button>
        </div>
        <div>
            <div class="resume-card">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="is-size-4">
                                Work Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>Test</div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="is-size-4">
                                Tools & Technologies
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="is-size-4">
                                Education
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>Test</div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
